#wrap {
	background: none;
	background-color: transparent; 
}

#slider.rslides > li > img {
	display: none
}

body {
	background: none;
	background-color: #000;
}

.header img {
	display: none;
}

.title {
	color: #000;
	.titleEng {
		color: #191919;
	}
}

.boxContent {
	float: none;
	height: 100dvh;
	width: 100%;
	margin: auto;
	display: flex;
	> img {
		display: none;
	}
}

.authcode a:nth-of-type(2) {
	display: none;
}

.copyright {
	display: none;
}

table {
	display: none;
}

.form {
	margin: auto;
	background-color: #fff;
	border: 1px solid #fff;
    border-radius: 10px;
	height: auto;
    padding: 3rem;
    box-shadow: 0 0 20px rgba(97, 218, 251, 0.7), 0 0 40px rgba(97, 218, 251, 0.5);
    animation: rotate 0.1s linear infinite;
}

.form:hover{
    box-shadow: 0 0 30px rgba(97, 218, 251, 1), 0 0 60px rgba(97, 218, 251, 0.7);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(120deg);
    }
    75% {
        transform: rotate(220deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





